extends index
block content
    div
        h1 Admin area
    div
        h2 New Post
        form(method="post", action='/admin/post/save')
            div
                input(name="postId", type="text", value="", style="display:none")
            div
                label Subject
                br
                input(name="postSubject", type="text", placeholder="Subject")
            div
                label Post Content
                br
                textarea(name="postContent", placeholder="Post Content", rows=15)
            div
                label Tags
                br
                input(name="postTags", type="text", placeholder="Tags")
            div
                br
                input(type="submit", value="Save Post")